<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripmate.TRIPMATE_API.repository.PostCategoryMapper">

    <insert id="createCategory" parameterType="TouristAttractionCategory">
        INSERT INTO travel_categories (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <update id="updateCategory" parameterType="TouristAttractionCategory">
        UPDATE travel_categories
        SET name = #{touristAttractionCategory.name}
        WHERE id = #{id}
    </update>

    <select id="getCategories" parameterType="Integer" resultType="TouristAttractionCategory">
        select *
        from travel_categories
        where id = #{id};
    </select>

    <delete id="deleteCategory" parameterType="Integer">
        DELETE FROM travel_categories
        WHERE id = #{id}
    </delete>
</mapper>