<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripmate.TRIPMATE_API.model.repository.UserMapper">

    <select id="getUser" parameterType="Integer" resultType="com.tripmate.TRIPMATE_API.model.User">
        SELECT *
        FROM users
        WHERE id = #{userId}
    </select>

    <select id="getUserByLoginId" parameterType="String" resultType="com.tripmate.TRIPMATE_API.model.User">
        SELECT *
        FROM users
        WHERE login_id = #{loginId}
    </select>

    <select id="getUserByNickname" parameterType="String" resultType="com.tripmate.TRIPMATE_API.model.User">
        SELECT *
        FROM users
        WHERE `nickname` = #{nickname}
    </select>

    <insert id="create" parameterType="com.tripmate.TRIPMATE_API.model.User">
        INSERT INTO users (login_id, password, `name`, phone_number, nickname, email, authority, updated_at, `is_valid`, reports_count, withdrawn_at, grant_post, gender, birth)
        VALUES (#{login_id}, #{password}, #{name}, #{phone_number}, #{nickname}, #{email}, #{authority}, #{updated_at}, #{is_valid}, #{reports_count}, #{withdrawn_at}, #{grant_post}, #{gender}, #{birth});
    </insert>

    <update id="updatePassword" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET password = #{value}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateName" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET name = #{value}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updatePhoneNumber" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET phone_number = #{value}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateNickname" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET nickname = #{value}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateEmail" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET email = #{value}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateGender" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET gender = #{integerValue}, updated_at = now()
        WHERE id = #{id}
    </update>

    <update id="updateBirth" parameterType="com.tripmate.TRIPMATE_API.model.UpdateParameter">
        UPDATE users
        SET birth = #{timestampValue}, updated_at = now()
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        UPDATE users
        SET is_valid = false, withdrawn_at = now()
        WHERE id = #{id}
    </delete>

</mapper>