<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="TestMapper.xml"/>
        <mapper resource="PostCategoryMapper.xml"/>
        <mapper resource="ReportMapper.xml"/>
        <mapper resource="TouristAttractionCategoryMapper.xml"/>
        <mapper resource="CheckValidationMapper.xml"/>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="HashtagMapper.xml"/>
        <mapper resource="TouristAttractionMapper.xml"/>
    </mappers>
</configuration>